
#container {
  height: 500px;
  margin: 30px auto;
  border: 20px solid #ff4242;
  border-radius: 45px;
  text-align: center;
  width: 80vw;
}
.Clasificacion {  
  height: 120px;
  display: flex;
  justify-content: space-between;
}
.tipo {
 flex-grow: 1;
}
#Sano {
 background-color: #21c43f;
}
#Insano {
  background-color: #ff4242;
}
#resultado {
  text-align: center;
  font-size: 30px;
}
.alimento{
  margin: 10px;
  height: 80px;
  width: 80px;
  cursor: move;
}